[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    @onnxscript.*
    except ImportError:
    except ImportError as e:
    except Exception as e:
    except subprocess.TimeoutExpired as e:
    raise AssertionError.*
    raise NotImplementedError.*
    if patch_parse_processor_args:
    if patch_DynamicCache:
    def make_sliding_window_cache.*
    def make_hybrid_cache.*

[run]
include =
    onnx_diagnostic/*
omit =
    onnx_diagnostic/big_models/export_phi4_mm*
