accelerate # transformers/src/transformers/modeling_utils.py -> init_empty_weights missing if this package is not installed
black
diffusers>=0.30.0
furo
huggingface_hub
matplotlib
onnx-array-api
git+https://github.com/microsoft/onnxscript.git
openpyxl
packaging
pandas
Pillow
psutil
pytest
pytest-coverage
pytest-subtests
ruff
scikit-learn>=1.4.0
sentencepiece
skl2onnx
sphinx
sphinx-gallery
sphinx-issues
sphinx-runpython
tabulate
timm
transformers>=4.45
tqdm
wheel
xlsxwriter
