accelerate  # transformers/src/transformers/modeling_utils.py -> init_empty_weights missing if this package is not installed
black
diffusers>=0.30.0
git+https://github.com/sdpython/experimental-experiment.git
furo
huggingface_hub
matplotlib
onnx-array-api>=0.3.1
onnx
git+https://github.com/onnx/ir-py.git
onnxscript
openpyxl
packaging
pandas
Pillow
psutil
pytest
pytest-coverage
pytest-subtests
ruff
scikit-learn>=1.4.0
sentencepiece
skl2onnx
sphinx
sphinx-gallery
sphinx-issues
sphinx-runpython
tabulate
timm
transformers>=4.45
tqdm
wheel
xlsxwriter
