name: ci

on:
  push:
  pull_request:
    types:
      - closed
    branches:
      - main

jobs:
  run:
    name: MODEL to-${{ matrix.torch }}-tr-${{ matrix.transformers }}-ci ${{ matrix.os }}-${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python: ['3.12']
        transformers: ['main']
        torch: ['main']
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install pytorch ${{ matrix.torch }}
        run: |
          if [[ "${{ matrix.torch }}" == "main" ]]; then
            python -m pip install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cpu
          else
            echo "install torch==${{ matrix.torch }} torchvision torchaudio"
            pip install torch==${{ matrix.torch }} torchvision torchaudio
          fi

      - name: Install transformers ${{ matrix.transformers }}
        run: |
          if [[ "${{ matrix.transformers }}" == "main" ]]; then
            echo "install transformers from github"
            git clone https://github.com/huggingface/transformers.git
            cd transformers
            pip install -e .
            cd ..
          else
            echo "install transformers==${{ matrix.transformers }}"
            pip install transformers==${{ matrix.transformers }}
          fi

      - name: Install requirements
        run: python -m pip install -r requirements.txt

      - name: Install requirements dev
        run: python -m pip install -r requirements-dev.txt

      - name: Uninstall onnx-diagnostic
        run: python -m pip uninstall -y onnx-diagnostic

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements-dev.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-

      - name: pip freeze
        run: python -m pip freeze

      - name: qwen2.5
        run: PYTHONPATH=. UNITTEST_GOING=1 NEVERTEST=1 TESTDTYPE=float16 TESTDEVICE=cpu python _unittests/ut_tasks/try_export.py -f -k test_imagetext2text_qwen_2_5_vl_instruct_visual
        
