name: MODELS - 4.48.3

on:
  push:
  pull_request:
    types:
      - closed
    branches:
      - main

jobs:
  run:
    name: to-${{ matrix.torch }}-tr-${{ matrix.transformers }}-ci ${{ matrix.os }}-${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python: ['3.12']
        transformers: ['4.48.3']
        torch: ['main']
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install pytorch ${{ matrix.torch }}
        run: |
          if [[ "${{ matrix.torch }}" == "main" ]]; then
            python -m pip install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cpu
          else
            echo "install torch==${{ matrix.torch }} torchvision torchaudio"
            pip install torch==${{ matrix.torch }} torchvision torchaudio
          fi

      - name: Install transformers ${{ matrix.transformers }}
        run: |
          if [[ "${{ matrix.transformers }}" == "main" ]]; then
            echo "install transformers from github"
            git clone https://github.com/huggingface/transformers.git
            cd transformers
            pip install -e .
            cd ..
          else
            echo "install transformers==${{ matrix.transformers }}"
            pip install transformers==${{ matrix.transformers }}
          fi

      - name: Install peft==0.17.1
        run: pip install peft==0.17.1 backoff

      - name: Install requirements
        run: python -m pip install -r requirements.txt

      - name: Install requirements dev
        run: python -m pip install -r requirements-dev.txt

      - name: Uninstall onnx-diagnostic
        run: python -m pip uninstall -y onnx-diagnostic

      - name: pip freeze
        run: python -m pip freeze

      - name: Phi-4-multimodal-instruct - vision
        continue-on-error: true
        run: |
          PYTHONPATH=. python -m onnx_diagnostic.ci_models.export_phi4_mm -m microsoft/Phi-4-multimodal-instruct --device cpu --dtype float16 --exporter custom --no-pretrained --no-second-input --atol 100000164640 --mismatch01 1 --part vision
